/* RESET */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'PT Sans', sans-serif;;
}
/* VARIABLES */
:root {
    --primary-color: #9792e4;
    --secondary-color: #b5ddff;
    --secondary-color-darker: #0084fd;
    --color-free: #fdc15f;
    --color-gray: #333333;
}
/* COMMON */
.container {
    max-width: 600px;
    margin: 0 auto;
}
.d_flex {
    display: flex;
}
.align_center {
    align-items: center;
}
.justify_between {
    justify-content: space-between;
}
.white-color {
    color: white;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}

p {
    line-height: 1.7;
}
img {
    max-width: 100%;
}
.card {
    padding: 2rem;
}
.rounded {
    border-radius: 20px ;
}
.text_center {
    text-align: center;
}
/* BUTTONS */
.btn {
    all: unset;
    display: inline-block;
    padding: 0.6rem 3rem 0.7rem;
    cursor: pointer;
}
.btn.small {
    background-color: white;
    padding: 0.45rem 1rem;
    border-radius: 20px ;
}
.btn.blue {
    background-color: var(--secondary-color-darker);
    color: white;
    border-radius: 20px ;
    letter-spacing: 3px;
    font-weight: 700;
}
.btn.purple {
    background-color: var(--primary-color);
    color: white;
    border-radius: 20px ;
}
.btn.big {
    padding: 1.2rem 4.5rem 1.3rem;
    font-size: 1.125rem;
    background-color: white;
    color: var(--primary-color);
    border-radius: 50px;
}
/* HEADER */
header {
    background-color: var(--secondary-color-darker);
    /* sticky */
    position: sticky;
    top: 0;
    z-index: 99;
    margin-bottom: 50px;
    padding: 1rem 2rem;
}
header .hamburger {
    font-size: 1.5rem;
}
header .nav-menu {
    display: none;
}

/* MAIN */
/* First section */
#demo {
    padding: 0 2rem;
}
#demo .card {
    background-color: var(--secondary-color);
    margin-bottom: 2rem;
}
#demo .card.big {
    padding-bottom: 0;
}
#demo h3,
#demo i {
    color: var(--secondary-color-darker);
}
#demo h3 {
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
}
#demo p {
    font-weight: 600;
}
#demo .content .btn {
    margin-top: 2rem;
}
#demo .content .btn.blue i {
    color: white;
}
#demo .card img {
    display: block;
    max-width: 250px;
    margin-top: 2rem;
}
#demo i:not(.fa-apple) {
    margin-bottom: 1.5rem;
    font-size: 5rem;
}
/* Second section */
#planning {
    background-color: var(--primary-color);
    margin-top: 5rem;
    padding: 4rem 2rem;
    color: white;
}
#planning .col img {
    display: block;
    margin: 0 auto;
}
#planning .col h2 {
    font-size: 2.125rem;
    margin: 5rem 0 3rem;
}
#planning .card {
    margin-top: 2rem;
    padding: 2rem 1rem;
    color: black;
    background-color: white;
    border-radius: 50px ;
}
#planning .card h3 {
    margin: 1rem 0;
    font-size: 1.5rem;
}
#planning .card p {
    font-style: italic;
    font-size: 1.125rem;
}
#planning .card i {
    justify-content: center;
    width: 50px;
    height: 50px;
    margin: 2rem auto 0;
    background-color: var(--primary-color);
    border-radius: 50%;
    font-size: 1rem;
}

/* Third section */
#testimonials {
    padding: 4rem 2rem 5rem;
    font-size: 1.5rem;
    text-align: center;
}
#testimonials h4{
    text-transform: uppercase;
    font-size: 1.125rem;
    font-weight: 400;
    margin-bottom: 1.5rem;
}
#testimonials h2 {
    color: var(--primary-color);
    margin-bottom: 2rem;
    font-size: 3rem;
}
#testimonials p {
    margin-bottom: 3rem;
}
#testimonials .card {
    background-color: var(--primary-color);
    color: white;
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    border-radius: 70px;
}
 .card-image {
    width: 200px;
    height: 200px;
    overflow: hidden;
    margin: 0 auto 1rem;
    border-radius: 50%;
}
 .card-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
 .card-content p {
    margin-bottom: 1.5rem;
}
 .card-content .icon {
    font-size: 70px;
    line-height: 0;
    vertical-align: bottom;
}
 .card-content .name {
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
}
/* Fourth section */
#benefits {
    background-color: var(--primary-color);
    margin-bottom: 5rem;
    padding: 4rem 2rem 2rem;
}
#benefits h2 {
    margin-bottom: 4rem;
    font-size: 2rem;
}
#benefits .card {
    margin-bottom: 2rem;
    border-radius: 20px;
    background-color: white;
}
#benefits h4,
#benefits h3 {
    margin-bottom: 1.25rem;
    color: var(--primary-color);
}
#benefits h4 {
    font-size: 3rem;
}
#benefits h3 {
    font-size: 1.5rem;
}
#benefits p {
    margin-bottom: 1.5rem;
    color: grey;
}
/* Fifth section */
#aboutus {
    padding: 0 2rem 5rem;
}
#aboutus h2 {
    color: var(--primary-color);
    font-size: 3rem;
    margin-bottom: 2rem;
}
#aboutus p {
    margin-bottom: 3rem;
    font-size: 1.125rem;
    line-height: 2.2;
}
.quote-image {
    position: relative;
    width: 180px;
    margin-bottom: 1rem;
}
.quote-image .icon {
    position: absolute;
    top: -1rem;
    right: -1rem;
    line-height: 1;
    font-size: 14rem;
    color: var(--primary-color);
}
.quote-image img {
    width: 100%;
    border-radius: 50%;
}

.quote h4 {
    color: var(--primary-color);
    font-size: 2rem;
    margin-bottom: 1.5rem;
}
button i {
    margin-right: 10px;
}
/* Sixth section */
#banner {
    padding: 4rem 2rem;
    background-color: var(--primary-color);
}
#banner .title1 {
    margin-bottom: 1rem;
    color: lightgray;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1.125rem;
    letter-spacing: 2px;
}
#banner .title2 {
    margin-bottom: 1.5rem;
    font-size: 1.875rem;
}
#banner .title3 {
    color: var(--color-free);
    font-size: 3.75rem;
    margin-bottom: 1.5rem;
}
#banner p {
    max-width: 520px;
    margin: 0 auto 2rem;
}
#banner .copy {
    margin-top: 2rem;
    font-size: 0.875rem;
} .copy a {
    text-decoration: underline;

}

/* FOOTER */
footer {
    background-color: var(--color-gray);
    padding: 2.5rem 2rem;
    font-size: 0.875rem;
}
footer .content {
    max-width: 420px;
    margin: 0 auto;
}
footer .text1 {
    margin-bottom: 4rem;
}
footer .text2 a {
    color: var(--primary-color);
    text-decoration: underline;
}
/*************************************************
   RESPONSIVE
 *************************************************/
 /* TABLET */
 @media screen and (min-width: 768px) {
    .container {
        max-width: 750px;
    }
    /* first section */
    #demo .cards {
        display: flex;
        flex-wrap: wrap;
    }

    #demo .card {
        margin: 1rem;
        width: calc(100% / 3 - 2rem);
        font-size: 1.125rem;
    }

    #demo .card.big {
        width: calc(100% / 3 * 2 - 2rem);
    }
    /* third section */
    #testimonials .card {
        display: flex;
        align-items: center;
    }
    #testimonials .card .card-image {
        flex-shrink: 0;
        margin-right: 2rem;
    }
    #testimonials .card-content {
        flex-grow: 1;
        text-align: left;
    }
    /* Fourth section */
    #benefits .cards {
        display: flex;
        flex-wrap: wrap;
    }
    #benefits .card {
        margin: 1rem;
        width: calc(100% / 2 - 2rem);
    }
    #benefits h4 {
        font-size: 4.5rem;
        margin-bottom: 0.5rem;
    }
    /* Fifth section */
    #aboutus .columns {
        display: flex;
        padding-bottom: 1rem; 
    }
    #aboutus .col1,
    #aboutus .col2{
        margin: 0 2rem;
    }
    #aboutus .col1 {
        width: calc(60% - 4rem);
    }
    #aboutus .col2 {
        width: calc(40% - 4rem);
    }
    #aboutus h2 {
        font-size: 4.5rem;
    }
    .quote-image {
        width: 100%;
        margin-top: 1rem;
    }
    /* Sixth section */

    #banner .title2 {
        font-size: 3rem;
    }
    #banner .title3 {
        font-size: 6rem;
    }
    #banner p {
        font-size: 1.125rem;
    }
    #banner .copy {
        font-size: 1rem;
    }
    /* Footer */
    footer {
        font-size: 1rem;
    }
 }
/* DESKTOP */
 @media screen and (min-width: 992px) {
    .container {
        max-width: 940px;
    }
    header .nav-menu {
        display: block;
    }
    header .hamburger {
        display: none;
    }
    header .nav-menu li {
        margin-left: 2rem;
    }
    header .nav-menu li a {
        font-size: 1.125rem;
    }
    /* Main first section */
    #demo .card.big {
        display: flex;
    }
    #demo .card.big > * {
        width: 50%;
    }
    #demo .card.big img {
        align-self: flex-end;
        margin: 2rem auto 0;
    }
    /* Second section */
    #planning .columns {
        display: flex;
    }
    #planning .col {
        width: 50%;
    }
    #planning .col:first-child {
        margin-right: 60px;
    }
    #planning .col:last-child{
        align-self: flex-end;
        padding: 2rem;
    }
    #planning .card img {
        max-width: 250px;
    }
    /* Third section */
    #testimonials .card .card-image {
        margin-right: 4rem;
    }
    /* Fourth section */
    #benefits .card {
        margin:0 1rem 2rem;
        width: calc(100% / 3 - 2rem);
    }
    /* Fifth section */
    #aboutus .col1,
    #aboutus .col2{
        margin: 0 3rem;
    }
    #aboutus .col1 {
        width: calc(70% - 6rem);
    }
    #aboutus .col2 {
        width: calc(30% - 6rem);
    }
 }

 /* DESKTOP LARGE */
@media screen and (min-width: 1200px){
    .container {
        max-width: 1150px;
    }
    #planning .columns {
        max-width: 940px;
    }
    #aboutus .quote-image .icon {
        font-size: 18rem;
    }

}